# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

# Pinecone Credentials
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX_NAME=

OPENAI_API_KEY=

# PostgreSQL Credentials
DATABASE_URL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
